@font-face {
  font-family: "madani";
  src: url("../webfonts/fonts/MadaniArabic-Regular.woff2") format("woff2"),
    url("../webfonts/fonts/MadaniArabic-Regular.woff") format("woff"),
    url("../webfonts/fonts/MadaniArabic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "madani";
  src: url("../webfonts/fonts/MadaniArabic-Bold.woff2") format("woff2"),
    url("../webfonts/fonts/MadaniArabic-Bold.woff") format("woff"),
    url("../webfonts/fonts/MadaniArabic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "glacial";
  src: url("../webfonts/fonts/GlacialIndifference-Regular.woff2") format("woff2"),
    url("../webfonts/fonts/GlacialIndifference-Regular.woff") format("woff"),
    url("../webfonts/fonts/GlacialIndifference-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "glacial";
  src: url("../webfonts/fonts/GlacialIndifference-Bold.woff2") format("woff2"),
    url("../webfonts/fonts/GlacialIndifference-Bold.woff") format("woff"),
    url("../webfonts/fonts/GlacialIndifference-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
